<div class="page-container">
  <div class="header">
    <img class="person-icon" src="assets/person-cog.svg" alt="PersonIcon" />
  </div>
  <div class="product-grid">
    @for(product of products; track product){
    <div class="product-card">
      <img [src]="product.image" alt="{{ product.name }}" />
      <div>
        <p>RRP {{ product.price }}</p>
      </div>
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.size }}</p>
        <p>{{ product.price }}</p>
      </div>
    </div>
    }
  </div>
</div>